{% extends "layout.html" %}

{% block contents %}
<center>
    <div class="llArticleCreate">
        <form role="form" method="post">
            {{ form.hidden_tag() }}

            {% if form.errors %}
                <div class="alert alert-danger fade in">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    {% for field, errors in form.errors.items() %}
                        <ul>
                            {% for error in errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            {% endif %}
            <div id="create-container" class="fontface">
                {% from "_form_field.html" import render_field %}
                {% for field in form if field.widget.input_type != 'hidden' %}
                    {{ render_field(field, class="form-control") }}
                {% endfor %}
               <button type="submit" id="create-button">글쓰기</button>
            </div>
        </form>
    </div>
</center>
{% endblock %}