{% extends "layout.html" %}

{% block contents %}
    <center>
        <div id="board-container" class="fontface">
            <div id="article-top">
                <table>
                    <tr>
                        <th>제목 : </th>
                        <td>{{ notice.title }}</td>
                    </tr>
                    <tr>
                        <th>작성자 : </th>
                        <td>{{ notice.author }}</td>
                    </tr>
                    <tr>
                        <th>작성일 : </th>
                        <td>{{ notice.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    </tr>
                </table>
            </div>
            <div id="article-body">
                {{ notice.content|safe }}
            </div>

            <div id="article-buttons">
                <a href="{{ url_for('notice_list') }}" class="btn btn-primary">목록보기</a>
                <a href="{{ url_for('notice_update', id=notice.id) }}" class="btn btn-success">글 수정</a>
                <a href="{{ url_for('notice_delete', id=notice.id) }}" class="btn btn-danger">글 삭제</a>
            </div>
        </div>
    </center>
{% endblock %}


