{% extends "layout.html" %}

{% block contents %}
	{% block navbar %}
    	{% include "boardnav.html" %}
	{% endblock %}
	<div class= "Qnalist">
		{% if context %}
			{% if context.board_list %}
		        {% for board in context.board_list %}
			        <div class= "well" id="board_{{ board.id }}">
			        	<h1><a href="{{ url_for('board_detail', id=board.id) }}">{{ board.title }}</a></h1>
			        	<h3>{{ board.author }}</h3>
		                <h6>{{ board.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</h6>
			        	
						<p>
		                    {{ board.content|truncate(50)|safe }}
		                </p>
			        </div>
			    {% endfor %}
			{% else %}
				<div class ="no-list">
					관심있는 대학교에 대한 질문을 등록해주세요.
				</div>
			{% endif %}
		{% endif %}
	</div>
{% endblock %}