{% extends "layout.html" %}
{% block contents %}
	{% block navbar %}
	    {% include "humornav.html" %}
	{% endblock %}
	<div class= "humorlist">
		{% if context %}
			{% if context.humor_list %}
		        {% for humor in context.humor_list %}
			        <div class= "well" id="humor_{{ humor.id }}">
			        	<h1><a href="{{ url_for('humor_detail', id=humor.id) }}">{{ humor.title }}</a></h1>
			        	<h3>{{ humor.author }}</h3>
		                <h6>{{ humor.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</h6>
			        	
						<p>
		                    {{ humor.content|truncate(50)|safe }}
		                </p>
			        </div>
			    {% endfor %}
			{% else %}
				<div class ="no-list">
					관심있는 대학교에 대한 질문을 등록해주세요.
				</div>
			{% endif %}
		{% endif %}
	</div>
{% endblock %}