{% extends "index.html" %}
{% block main %}
	{% block css %}
		<link rel="stylesheet" type="text/css" href = "{{ url_for('assets', filename= 'bootstrap-3.2.0-dist/css/bootstrap.css')}}"/>
	{% endblock %}
	<center> 
		<div id="container">
			<div class="slider-wrapper theme-default">
	    		<div class="ribbon"></div>
					<div id="slider" class="nivoSlider">
						<img src="{{ url_for('assets', filename='img/main/slider/1.jpg')}}" title="캠브릿지 대학교">
						<img src="{{ url_for('assets', filename='img/main/slider/2.jpg')}}" title="콜롬비아 대학교">
					</div>
				</div>
			</div>
			<div id="login">
				<form role="form" action="{{ url_for('log_in')}}" method= "POST">
					{% if g.user_name != None %}
					<div style="width: 200px; float:left;">
						{{ g.user_name }}님 환영합니다.
					</div> <button style="margin: 25px 0 0 10px; height: 93px; width: 80px" type="submit" formaction="{{ url_for('log_out')}}"class="btn btn-default">LogOut</button>
					{% else %}
					<div style="width: 200px; float:left;">
						<label for="login-id">ID</label>
						<input type="text" name="email" class="form-control" id="login-id" placeholder="ID"/>
						<label for="login-pw">Password</label>
						<input type="password" name="pw" class="form-control" id="login-pw" placeholder="Password"/>
						<a href="http://causal-shell-662.appspot.com/join">회원가입</a>
						<a href="#">ID찾기</a>
						<a href="#">PW찾기</a>
					</div>
					<button style="margin: 25px 0 0 10px; height: 93px; width: 80px" type="submit" class="btn btn-default">Login</button>
					{% endif %}
				</form>
			</div>
			<div id="mainarticlelist">
				<div id="notice" style="text-align: left; padding:20px">
					{% for notice in notices %}
			            <a href="{{ url_for('notice_detail', id=notice.id) }}">{{ notice.title }}</a><br>
			        {% endfor %}
				</div>
				<div id="list-free" style="text-align: left; padding:20px">
					{% for free in frees %}
			            <a href="{{ url_for('free_detail', id=free.id) }}">{{ free.title }}</a><br>
			        {% endfor %}
				</div>
				<div id="list-qna" style="text-align: left; padding:20px">
					{% for forum in forums %}
			            <a href="{{ url_for('forum_detail', id=forum.id) }}">{{ forum.title }}</a><br>
			        {% endfor %}
				</div>
			</div>
	</center>
{% endblock %}