{% extends "layout.html" %}

{% block contents %}
	{% block navbar %}
	    {% include "qnanav.html" %}
	{% endblock %}
	<div class= "Qnalist">
		{% if context %}
			{% if context.qna_list %}
		        {% for qna in context.qna_list %}
			        <div class= "well" id="qna_{{ qna.id }}">
			        	<h1><a href="{{ url_for('qna_detail', id=qna.id) }}">{{ qna.title }}</a></h1>
			        	<h3>{{ qna.author }}</h3>
		                <h6>{{ qna.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</h6>
			        	
						<p>
		                    {{ qna.content|truncate(50)|safe }}
		                </p>
			        </div>
			    {% endfor %}
			{% else %}
				<div class ="no-list">
					관심있는 대학교에 대한 질문을 등록해주세요.
				</div>
			{% endif %}
		{% endif %}
	</div>
{% endblock %}