{% extends "layout.html" %}

{% block contents %}
    <center>
        <div id="board-container" class="fontface">
            <div id="article-top">
                <table>
                    <tr>
                        <th>제목 : </th>
                        <td>{{ humor.title }}</td>
                    </tr>
                    <tr>
                        <th>작성자 : </th>
                        <td>{{ humor.author }}</td>
                    </tr>
                    <tr>
                        <th>작성일 : </th>
                        <td>{{ humor.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    </tr>
                </table>
            </div>
            <div id="article-body">
                {{ humor.content|safe }}
            </div>

            <div id="article-buttons">
                <a href="{{ url_for('humor_list') }}" class="btn btn-primary">목록보기</a>
                <a href="{{ url_for('hcomment_create', humor_id=humor.id) }}" class="btn btn-info">댓글쓰기</a>
                <a href="{{ url_for('humor_update', id=humor.id) }}" class="btn btn-success">글 수정</a>
                <a href="{{ url_for('humor_delete', id=humor.id) }}" class="btn btn-danger">글 삭제</a>
            </div>

            <div id="article-comment">
                {% if comments %}
                    <table>
                        {% for comment in comments %}
                                <tr>
                                    <td style="font-weight:bold; width:90%">{{ comment.author }}</td>
                                    <td rowspan="2" style="vertical-align: top;">{{ comment.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                                </tr>
                                <tr>
                                    <td>{{ comment.content }}</td>
                                </tr>
                        {% endfor %}
                {% else %}
                        <td><tr>
                        <div class="no-list">
                            댓글이 없습니다.
                        </div>
                        </td></tr>
                    {% endif %}
                    </table>
            </div>
        </div>
    </center>
{% endblock %}


