{% extends "index.html" %}
{% block univ %}
	<div id="container">
		<div class="slider-wrapper theme-default">
    		<div class="ribbon"></div>
				<div id="slider" class="nivoSlider">
					<img src="{{ url_for('assets', filename='img/univ/columbia/columbia01.jpg')}}">
					<img src="{{ url_for('assets', filename='img/univ/columbia/columbia02.jpg')}}">
					<img src="{{ url_for('assets', filename='img/univ/columbia/columbia03.jpg')}}">
					<img src="{{ url_for('assets', filename='img/univ/columbia/columbia04.jpg')}}">
					<img src="{{ url_for('assets', filename='img/univ/columbia/columbia05.jpg')}}">
				</div>
			</div>
		</div>

{% endblock %}