{% extends "layout.html" %}

{% block contents %}
<center>
    {% if url %}
    <div id="container">
        <div class="slider-wrapper theme-default">
            <div class="ribbon"></div>
                <div id="slider" class="nivoSlider">
                    <img src="{{ url }}">
                    <img src="{{ url }}">
                    <img src="{{ url }}">
                    <img src="{{ url }}">
                    <img src="{{ url }}">
                </div>
            </div>
        </div>
    {% endif %}
    <form action="{{ url_for("univ_create")}}" enctype="multipart/form-data" method="POST">
        사진:<input type="file" name="photo"><br>
        대학이름:<input type="text" name="univ_name"><br>
        국가:<input type="text" name="nation"><br>
        주:<input type="text" name="state"><br>
        도시:<input type="text" name="city"><br>
        평점:<input type="text" name="avg_credit"><br>
        공인영어점수:<input type="text" name="eng_score"><br>
        지원학생수:<input type="text" name="student"><br>
        학비:<input type="text" name="tuition"><br>
        비용:<input type="text" name="cost"><br>
        주거비용:<input type="text" name="house"><br>
        기간:<input type="text" name="term"><br>
        <button type="submit" value="submit">등록하기</button>
    </form>
</center>
{% endblock %}