{% extends "index.html" %}
{% block univ %}
	<div id="container">
		<div class="slider-wrapper theme-default">
    		<div class="ribbon"></div>
				<div id="slider" class="nivoSlider">
					<img src="{{ url_for('assets', filename='img/univ/edinburgh/edinburgh01.jpg')}}">
					<img src="{{ url_for('assets', filename='img/univ/edinburgh/edinburgh02.jpg')}}">
					<img src="{{ url_for('assets', filename='img/univ/edinburgh/edinburgh03.jpg')}}">
					<img src="{{ url_for('assets', filename='img/univ/edinburgh/edinburgh04.jpg')}}">
					<img src="{{ url_for('assets', filename='img/univ/edinburgh/edinburgh05.jpg')}}">
				</div>
			</div>
		</div>
	</div>
{% endblock %}