{% extends "index.html" %}
{% block univ %}
	{% block css %}
	<link rel="stylesheet" type="text/css" href = "{{ url_for('assets', filename= 'css/info.css')}}"/>
	{% endblock %}
<center>
	<div id="container">
		<div class="slider-wrapper theme-default" id="info_slide">
    		<div class="ribbon"></div>
				<div id="slider" class="nivoSlider">
					<img src="{{ url_for('assets', filename='img/univ/emory/emory01.jpg')}}">
					<img src="{{ url_for('assets', filename='img/univ/emory/emory02.jpg')}}">
					<img src="{{ url_for('assets', filename='img/univ/emory/emory03.jpg')}}">
					<img src="{{ url_for('assets', filename='img/univ/emory/emory04.jpg')}}">
					<img src="{{ url_for('assets', filename='img/univ/emory/emory05.jpg')}}">
				</div>
			</div>
			<div class ="info">
				<h1>University of emory</h1>
				<ul>
					<li>TOEFL IBT 100 이상</li>
					<li>선발 인원 : 1명 / 연간</li>
					<li>평균평점 3.8/4.5 이상</li>
					<li>연간 원화 3,000만원까지 지원</li>

				</ul>
			</div>
		</div>
			<div class="information">
				<article class="article">
					<h2>지원자격 및 선발기준</h2>
					<p>가. 선발 인원 : 1명 / 연간</p>
					<p>나. 지원 자격 </P>
						<p>
    (1) 대상학과 : 전 학과 (지원 불가능한 학과가 있으므로 지원전 확인 요망)<br>
    ※ 파견대학에 자신의 전공학과가 없을 경우, 우리대학에서 복수로 전공한 학과로도 지원가능<br>
    ※ 지원학과 정보는 www.studyabroadfoundation.org<br>
    ※ 에딥버러대학의 경우, 의학, 약학, 수의학, 치의학, 건축학은 특별히 명시된 경우를 제외하고는 지원 불가<br>
    (2) 2개 학기 수료 이상 ~ 5개 학기 재학생 및 휴학생<br>
    (3) TOEFL IBT 100 이상<br>
    (4) 전 학년 학업성적 평균평점 3.8/4.5 이상</p>
<p>다. 1차 지원 서류 </p>
<p>    (1) 지원서(소정양식) 1부 •영문 자기소개서 및 스터디플랜 각 1부 •TOEFL 원본 1부<br>
    (2) 영문 재학증명서 1부 •영문 성적증명서 1부 •여권 사본 1부<br>
    (3) 본인명의 통장 사본 1부 •사진 3매<br>
    ※ 파견교에서 요구하는 최종지원서류는 1차 합격 후 별도 통지예정</p>
<p>라. 선발 기준</p> 
<p>   (1) 1차 : TOEFL(40%) + 전 학년 학업성적 평균평점(20%) + 회화 및 인성면접(40%)<br>
    ※ 동점일 경우 ①원어강좌(영어) 수강자 ②TOEFL성적 ③학업성적 ④고학년 순으로 우선 선발<br>
    (2) 2차 : 최종입학허가여부는 전적으로 파견대학에서 결정함</p>
  <h2>  장학금 & 학점인정 </h2>
<p>가. 장학금: 우리대학 연간 등록금 면제 + 연간 원화 3,000만원까지 지원 <br>
※ 왕복항공료 및 파견국가에서의 생활비 일체는 본인이 부담<br>
나. 학점인정: 연간 38학점 이내(학기당 19학점 이내)<br>
※ ‘09학번부터는 한 학기 17학점, 연간 34학점까지 인정.<br>
(단, 건축대학, 공과대학 학생의 경우 18학점, 연간 36학점까지 인정)<br>
다. 취득한 학점은 P/NP로 졸업학점으로만 인정되며, 평균평점(GPA) 환산에는 포함되지 않음<br>
라. 학과별 전공필수, 필수교양(채플, 성경개론, 영어 등), 교직이수과목 등은 인정되지 않음</p>

				</article>
			</div>
	</div>

</center>
{% endblock %}