{% extends "index.html" %}
{% block univ %}
	<div id="container">
		<div class="slider-wrapper theme-default">
    		<div class="ribbon"></div>
				<div id="slider" class="nivoSlider">
					<img src="{{ url_for('static', filename='img/univ/north/north01.jpg')}}">
					<img src="{{ url_for('static', filename='img/univ/north/north02.jpg')}}">
					<img src="{{ url_for('static', filename='img/univ/north/north03.jpg')}}">
					<img src="{{ url_for('static', filename='img/univ/north/north04.jpg')}}">
					<img src="{{ url_for('static', filename='img/univ/north/north05.jpg')}}">
				</div>
			</div>
		</div>
	</div>
{% endblock %}