{% extends "index.html" %}
{% block univ %}
<center>
	<div id="container">
		<div class="slider-wrapper theme-default">
    		<div class="ribbon"></div>
				<div id="slider" class="nivoSlider">
					<img src="{{ url_for('assets', filename='img/univ/san/san01.jpg')}}">
					<img src="{{ url_for('assets', filename='img/univ/san/san02.jpg')}}">
					<img src="{{ url_for('assets', filename='img/univ/san/san03.jpg')}}">
					<img src="{{ url_for('assets', filename='img/univ/san/san04.jpg')}}">
					<img src="{{ url_for('assets', filename='img/univ/san/san05.jpg')}}">
				</div>
			</div>
		</div>
	</div>
</center>
{% endblock %}